---
Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-loop-convert,
  modernize-use-nullptr,
  modernize-use-override,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-reserved-identifier,

WarningsAsErrors: ''

HeaderFilterRegex: '^(src|include)/.*'

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
...
